@import 'materialize';
@import 'ember-cli-materialize';

body {
  background: #B29B9B;
  color: #332626;
}

.nav-wrapper {
  background: #B20000;
}

.pe-blog-app {
  a {
    color: #44654E;
  }

  .left-side {
    padding-top: 50px;
    img {
      width: 200px;
    }
  }

  .author-icon {
    background: #b20000;
    width: 100px;
    text-align: center;
    border-radius: 50px;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    height: 100px;
    position: relative;
    margin: 20px;

    img {
      height: 50px;
      text-align: center;
      top: 0;
      position: absolute;
      left: 0;
      right: 0;
      margin: auto;
      bottom: 0;
    }
  }

  .content-pane {
    background: #FDFFFE;
  }

  .post {
    img {
      float: left;
    }
  }
}
