{{#md-navbar name='Planet Express Blog'}}

{{/md-navbar}}
<div class="row pe-blog-app">

  <div class="col s3 left-side">
    {{#link-to 'index'}}<img src="/images/pe-logo.png">{{/link-to}}
  </div>
  <div class="col s7 content-pane">
    {{outlet}}
  </div>

  <div class="col s2 author-list">
    <h3>Authors</h3>
    <ul>
      {{#each model as |author|}}
        {{#link-to 'author' author}}
          <li>
            <div class="author-icon">
              <img src={{author.image}}>
            </div>
          </li>
        {{/link-to}}
      {{/each}}
    </ul>
  </div>
</div>

{{!-- ember-cli-materialize modal container --}}
{{md-modal-container}}
